:root {
    --betterbe_violet: #29235C;
    --betterbe_pink: #E73053;
    --betterbe_bg: #F9F9FC;
}

body {
    background-color: white;
    color: #000000;
    font-family: Roboto, system-ui;
}

#container
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

#header
{
    margin: 30px auto;
    width: 80%;
    position: relative;
    padding: 10px;
    background-color: white;
    display: flex;
}

.login
{
    position: relative;
    float: left;
    width: 20%;
}

.login img
{
    position: relative;
    width: 30px;
    height: 30px;
}

.logo
{
    float: left;
    position: relative;
    width: 60%;
    text-align: center;
}

.logo img
{
    width: 170px;
    height: 30px;
}

.cart {
    position: relative;
    float: left;
    width: 20%;

}
.cart img
{
    position: relative;
    float: right;
    width: 30px;
    height: 30px;
}

#search_box
{
    position: relative;
    width: 40%;
    height: 52px;
    border-radius: 25px;
    background-color: #F9F9FC;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
ol
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: left;
}
ol a
{
    color: white;
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 100%;
}
#search_button
{
    background-color: #F9F9FC;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius:0px 25px 25px 0px;
    float: left;
    border: none;
}
#search_button:hover
{
    background-color: #E3E3EB;
    cursor: pointer;
}
#search_button img
{
    display: block;
    width: 24px;
    height: 24px;
    margin: auto;
    padding: 0;
}
ol > li:first-child
{
    border-radius: 25px 0px 0px 25px;
}
ol > li:last-child
{
    border-radius: 0px 25px 25px 0px;
}
ol > li
{
    position: relative;
    float: left;
    width: 20%;
    height: 100%;
}
ol > li:hover
{
    background-color: #E3E3EB;
    display: block;
}
ol > li > a img
{
    display: block;
    aspect-ratio: auto;
    height: 24px;
    margin: auto;
    padding-left: 20px;
    padding-right: 5em;

}

ol > li > form
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    color: black;
    border-radius: 10px;
    display: none;
    border: 1px solid #D8D8D8;
    max-height: 50px;
}


ol > li:hover > form
{
    display: inline-block;
}


ol > li > form > label
{
    display: inline-block;
    background-color: #FFFFFF;
    position: relative;
    z-index: 100;
    border-top: 1px solid #D8D8D8;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}



#car_box
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1190px;
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    gap: 30px;

}

.car
{
    height: 354px;
    width: 275px;
    min-width: 232px;
    background-color: #F8F8FA;
    border-radius: 40px;
}

.car:hover > .car_options_display > a > .car_option_display_DETAILS
{
    display: block;

}
.car:hover > .car_options_display > a{
    text-decoration: none;
}
.car:hover > .car_options_display > .car_option_display_in
{
    display: none;
}

.car-image
{
    aspect-ratio: auto;
    width: 243px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
}

.car_title
{
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0;
    width: 227px;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    color: var(--betterbe_violet);
}

.car_price
{
    /*padding: 10px;*/
    letter-spacing: 0;
    /*line-height: 34px;*/
    white-space: nowrap;
    width: 227px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    font-size: 24px;
    font-weight: bold;
    color: var(--betterbe_pink);
}
.car_options_display
{
    margin-top: 24px;
    height: 41px;
    width: 243px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 500;
    color: var(--betterbe_violet);
}
.car_option_display_DETAILS
{
    text-align: center;
    background-color: var(--betterbe_violet);
    border-radius: 20px;
    width: 243px;
    height: 50px;
    margin: auto;
    line-height: 50px;
    display: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
}
.car_option_display_in {
    position: relative;
    height: 41px;
    width: 33.33%;
    margin: auto;
    text-align: center;
}

.car_option_display_in_img
{
    height: 24px;
    width: 24px;
}




/*-----------------------Detail-page--------------------------------*/

#detail_page_container
{
    width: 85%;
    position: relative;
    margin: auto;
}


#detail-page-options
{
    float: left;
    width: 60%;
}

.option
{
    position: relative;
    margin-bottom: 20px;
    width: 100%;

}
.option-text
{
    margin-bottom: 36px;
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    color: var(--betterbe_violet);
}
.option-text-container
{
    display: flex;

}
.option-instances-box-container
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.option-instance-box
{
    width: 50%;
    height: 26px;
    min-width:240px;
    margin-bottom: 36px;

    box-sizing: border-box;
    padding-right: 5px;
}


.mandatory-sign
{
    width: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 20px;
    background-color: #e53451;
    color: white;
    text-align: center;
    line-height: 20px;
    border-radius: 4px;
    margin-left: 8px;
    float:left;
    /*display: none;*/
    font-size: 16px;
}

.checkbox-box-box{
    display: flex;
    flex-wrap: wrap;
    /*margin-right: 20px;*/
    float: left;
    gap: 8px;
    font-size: 24px;
    font-weight: bold;
    color: var(--betterbe_violet);
}

.priceChange
{
    font-size: 24px;
    font-weight: bold;
    color: var(--betterbe_violet);
    line-height: 28px;
    float: right;
}
/*CHECKBOXES*/


.checkbox-box-box >input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid var(--betterbe_violet);
    content: "\00a0";
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    cursor: pointer;
}
.checkbox-box-box label
{
    display: inline-block;
    float: left;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    cursor: pointer;
}

.checkbox-box-box > input[type="checkbox"]:checked {
    background: #29235C;
    color: white;
    content: "\2713";
    font-size: 50px;
    font-weight: 900;
}
.checkbox-box-box > label
{
    cursor: pointer;
}

    /*input[type="checkbox"] + label:before {*/
/*    border: 3px solid #29235C;*/
/*    display: inline-block;*/
/*    height: 20px;*/
/*    width: 20px;*/
/*    border-radius: 4px;*/
/*}*/
/*input[type="checkbox"]:checked + label:before {*/
/*    background: #29235C;*/
/*    color: white;*/

/*}*/

.checkbox-selected
{
    color: #e53451;
}

.checkbox-disabled
{
    color: grey;
}

/**/


#detail_page-car-info
{
    text-align: center;
    /*width: 40%;*/
    max-width: 560px;
    float: right;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
    color: var(--betterbe_violet);
}
.car-card
{
    box-shadow: 0px 3px 10px 6px #F6F6FB;
    border-radius: 24px;
    padding: 46px 20px;
    width: 100%;
}
.detail_page-car-title
{
    font-size: 48px;
    font-weight: bold;
}

.detail-page-car-image
{
    aspect-ratio: auto;
    margin-top: 48px;
}
.detail-page-car-image img
{
    aspect-ratio: auto;
    max-width: 500px;
}
.checkbox-available
{
    color: black;
}
#mandatory-text
{

}

.detail-page-options-tile > .detail-page-options-tile-img img
{
    width: 50px;
    height: 50px;
    margin-top: 30%;
    margin-left: 2px;
}

.detail-page-options-tile-img
{
    height: 60%;
}

.detail-page-options-tile-text
{
    height: 40%;
    padding-top: 10px;
}
.detail-page-options-tile:hover
{
    box-shadow: 0 0 0 5px #e53451;
    border-radius: 25px;
    cursor: pointer;
}
.detail_page-car_options_display
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-around;
    margin-top: 30px;

}
.detail_page-car_option_display_in
{
    width: 160px;
    height: 160px;
    background-color: #F9F9FC;
    border-radius: 25px;
}
.detail_page-car_option_display_in_img img
{
    width: 48px;
    height: 48px;
    margin-top: 30%;
}
.detail_page-car_option_display_in_img
{

    height: 60%;
}
.detail_page-car_option_display_in > x-label
{
    height: 40%;
}
#buy-button
{
    width: 100%;
    background-color: var(--betterbe_pink); /*//todo*/
    color: white;
    height: 80px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 36px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    pointer-events:none;
    opacity: 50%;
}
#buy-button a
{
    text-decoration: none;
    color:white;
}


#buy-button-text
{
    display: inline-block;
    font-size: 48px;
    line-height: 80px;
    text-align: center;
}
/*#buy-button:hover {*/
/*    font-size: 0;*/
/*}*/
/*#buy-button:hover:after{*/
/*    content: attr(data-hover);*/
/*    font-size: 48px;*/
/*}*/
.option-butotn
{

    width: 100%;
    height: 100%;
    cursor: pointer;
}

/*Sign-up PAGE*/

.sign_up_field
{
    width: 520px;
    margin: auto;
}
.sign_up_field_logo
{
    width: 200px;
    height: 35px;
    margin: 200px auto 36px auto;
}
.sign_up_field_logo img
{
    width: 100%;
    height: 100%;
}


.input_field
{
    margin-top: 24px;
    width: 484px;
    border-radius: 16px;
    background-color: #F9F9FC;
    border: #979797 solid 1px;
    font-family: Roboto, system-ui;
    font-size: 24px;
    padding: 18px;
}
.sign_up_button
{
    background-color: #29235c;
    margin-top: 48px;
    color: #FFFFFF;
    padding: 18px;
    width: 522px;
    cursor: pointer;
    font-family: Roboto, system-ui;
    font-weight: bold;
}

#error-message
{
    background-color: #e53451;
    color: #ffffff;
    border: none;
    border-radius: 0;
    width: 484px;
    font-size: 24px;
    text-align: center;
    display: none;
}


/*Admin PAGE*/
.admin-page-settings
{
    width: 100%;
    margin-bottom: 36px;
    text-align: center;
}
.admin-page-settings-set
{
    display: inline-block;
    height: 52px;
    background-color: #F9F9FC;
    border-radius: 25px;
}
.admin-page-settings-set-back
{
    float: left;
    margin-left: 5px;
}
.admin-page-settings-set-back img
{
    width: 50px;
    height: 50px;
}

.admin-page-settings-set-add
{
    float: left;
    margin-left: 5px;


}
.admin-page-settings-set-add img
{
    width: 50px;
    height: 50px;
}

#admin-page-table-box
{
    width: 100%;
    border: #29235c solid 3px;
}
#admin-page-table-box > table
{
    width: 100%;
}

td, th {
    border: 3px solid #29235c;
    text-align: center;
    padding: 8px;
    font-size: 18px;
    color: var(--betterbe_violet);
}
/*FORM PAGE*/
#form_page_container
{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}
#form_page-car-info
{
    text-align: center;
    width: 50%;
    float: right;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
    color: var(--betterbe_violet);
}


.form-options-box
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

}
.form-option
{
    font-size: 28px;
    width: 33.33%;
    color: #29235C;
    float: left;
}

.option-instance-form-box
{
    width: 66.66%;
    display: flex;
    justify-content: space-between;
    float: right;

}
.form-option-instnace
{
    font-size: 28px;
    color: black;
    float: left;
    width: 33.33%;
    margin-bottom: 16px;

}
#form-initial-price
{
    font-size: 28px;
    color: black;
    width: 22.217778%;
    float: right;
}

.form-user-inputs
{
    font-size: 28px;
    color: black;
    float: right;
    width: 50%;
}

.multiple-option-instances > .form-option-instnace
{
    margin-bottom: 10px;

}
.form-insert
{
    width: 60%;
    color: #29235c;
    box-sizing: border-box;
    float: left;
}
.top-text
{

    font-size: 36px;
}
.top-text-2
{
    font-size: 22px;
}
.text-box
{
    margin-bottom: 64px;
}
.form-page-inserts-texts
{
    margin-bottom: 24px;
    font-size: 24px;
}
.form-boxes
{
    margin-bottom: 48px;
    width: 100%;

}
.form-inputs
{
    box-shadow: 0px 1px 5px 1px #DBDBE1;
    border-radius: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    border: none;
    padding: 16px;
    box-sizing: border-box;
}

.form-big-inputs
{
    width: 80%;
}
.form-half-inputs
{
    width: 30%;
}
.dates
{
    display: flex;
    justify-content: space-between;
}

.start-date-box
{
    width: 50%;

}

.period-box
{
    width: 50%;
}
.month-box
{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
}


.billing-address-inserts
{
    box-shadow: 0px 1px 5px 1px #DBDBE1;
    border-radius: 12px;

}
.post-address-insert
{
    float: left;
    width: 50%;
}
.street-number-insert
{
    float: right;
    width: 50%;
}
#post-address
{
    border-radius: 0 0 0 12px;
    border-right: 2px solid #DBDBE1;

}
#street-number
{
    border-radius: 0 0 12px 0;

}
#country-insert {
    border-bottom: 2px solid #DBDBE1;
    border-radius: 12px 12px 0 0;
}
#period
{
    width: 60px;
    text-align: center;
}
.month-text
{
    margin-left: 36px;
    font-size: 24px;
}

#buy-button-from
{
    width: 100%;
    background-color: #e53451;
    height: 80px;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 36px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

/*QUOTE PAGE*/


#quote_page_container
{
    width: 80%;
    margin: auto;
}
.quote-box
{
    width: 50%;
    margin: auto;
}
#user-inserts
{
    margin-top: 50px;
}
.quote-text-box
{
    text-align: center;
}
.quote-page-car_options_display
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    margin-top: 30px;
}
#download-button
{
    margin-top: 48px;
    background-color: #E73053;
    color: white;
    border: none;
    border-radius: 24px;
    padding: 10px 0;
    text-align: center;
    font-size: 36px;
    cursor: pointer;
    width: 100%;

}
.download-button-box
{
    margin-right: auto;
    margin-left: auto;
    width: 30%;
}